  *{
    transition: all 2s;    
   }

   body{
       background:yellow;
       height: 2000px;
   }

   b {
       color: red;
       font-weight: 100;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }

   i{
       color:hotpink;
       background: indigo;
   }

   div{
       color: lawngreen;
       
       position: fixed;
       bottom:0;

       font-weight: bold;
       font-size: 10px;
       text-decoration: underline;
       letter-spacing: 5px;
       margin:10px;
       padding: 10px;
       text-shadow: 1px 1px 0px #ff0000;
       border:1px dashed pink;
       font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   